<%- include('header'); -%>
,<h1>hello world </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cupiditate fuga veniam, cumque earum distinctio hic modi accusantium porro expedita officia cum praesentium voluptatibus corrupti rerum saepe nesciunt eos nihil.</p>
<%- include('footer'); -%>